#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Y      &kp U     &kp I     &kp O      &kp P     &kp LBKT
&kp H      &kp J     &kp K     &kp L      &kp SEMI  &kp SQT
&kp N      &kp M     &kp COMMA &kp DOT    &kp FSLH  &kp RBKT
           &kp BSPC &kp SPACE &kp ENTER
            >;
        };

        layer_1 {
            bindings = <
&kp ESC  &kp HOME  &kp UP    &kp END    &kp PG_UP  &kp MINUS
&kp TAB  &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN  &kp EQUAL
&trans   &trans    &trans    &trans     &trans     &trans
         &trans    &trans    &mo 1
            >;
        };
    };
}; 