config SHIELD_COSMORAT_LEFT
	def_bool $(shields_list_contains,cosmorat_left)

config SHIELD_COSMORAT_RIGHT
	def_bool $(shields_list_contains,cosmorat_right)

config SHIELD_COSMORAT_DONGLE
	def_bool $(shields_list_contains,cosmorat_dongle)
