# No whitespace after the comma or in your keyboard name!
config SHIELD_COSMOS_RATA
    def_bool $(shields_list_contains,cosmorat)

config SHIELD_CORNE_RIGHT
	def_bool $(shields_list_contains,corne_right)

config SHIELD_COSMORAT_LEFT
	def_bool $(shields_list_contains,cosmorat_left)

config SHIELD_COSMORAT_RIGHT
	def_bool $(shields_list_contains,cosmorat_right)

config ZMK_STUDIO_SUPPORT
    bool "Enable ZMK Studio support"
    default y

if ZMK_STUDIO_SUPPORT

config ZMK_STUDIO
    default y

endif